@media screen and (max-width:980px){
    nav{
        display: none
    }
    body{
        background:none;
        background-color: black;
    }
    
    .section{
        text-align: center;
        margin: 5%;
    }
    .card{
        width: 100%;
    }
    }

